<h1>入力</h1>
<body>
<div>
  現在地の緯度と経度を入力
</div>
<div class="form-wrapper culmn">
  <%=form_tag({ :controller => 'stores_info', :action => 'name' }) do %>
    <p>緯度 <%= text_field_tag :lat, '' %></p>
    <p>経度 <%= text_field_tag :lon, '' %></p>
    <!--1:300m、2:500m、3:1000m、4:2000m、5:3000m-->
    <p>半径 <%= select_tag :range, options_for_select({"300" => "1", "500" => "2", "1000" => "3", "2000" => "4", "3000" => "5"})  %>m 以内</p>
    <p><%= submit_tag '送信' %></p>
  <% end %>
</div>
</body>