<h1>レストラン検索</h1>

<!--<body>-->
<div class="page-about center">
  周辺のレストラン
</div>
<div>
    <ul class="stores flex">
    <% if @_rests_id  %>
      <nav>
      <%= paginate @some_rests %>
      <% @some_rests.each do |rest_id| %>
        <li class="store-wrapper flex culmn">
        
          <span class="img-wrapper row">
            <div class="image absolute-center">
            <% if rest_id["shop_image1"]=="{}" %>
              <p class="no-image">
                <span class="glyphicon glyphicon-picture center"></span>
                <span>no image</span>
              </p>
            <% else %>
              <img src="<%= rest_id["shop_image1"] %>"/>
            <% end %>
            </div>
          </span>
          <span class="about-wrapper row">
            <%= link_to "", rest_path(rest_id["id"]) %>
            <span><%= rest_id["name"] %></span>
            <br>
            <span>現在地から<%= rest_id["walk"] %>分</span>
          </span>
        </li>
      <% end %>
      <%= paginate @some_rests %>
      </nav>
      <% else %>
        検索結果がありませんでした
      <% end %>
    </ul>
</div>