<title>BusyManRestaurants | Result</title>

<h3 class="page-about center"><span class="glyphicon glyphicon-tree-deciduous"></span>周辺レストラン<p></p></h3>

<%= debug params %>

<div class="stores-wrapper flex relative">
    <ul class="stores culumn">
    <% if @_rests_id  %>
      <nav>
      <%= paginate @some_rests %>
      <% @some_rests.each do |rest_id| %>
        <li class="store-wrapper flex relative under-line">
        
          <span class="img-wrapper relative">
            <div class="image absolute-center">

            <% if rest_id["shop_image1"]=="{}" %>
              <div class="no-image relative">
                <div class="absolute-center">
                  <span class="glyphicon glyphicon-picture text"><br>no image</span>
                </div>
              </div>
            <% else %>
              <img src="<%= rest_id["shop_image1"] %>"/>
            <% end %>
            
            </div>
          </span>

          <span class="about-wrapper">
            <%= link_to "", rest_path(rest_id["id"]) %>
            <span><%= rest_id["name"] %></span>
            <br>
            <span>現在地から徒歩<%= rest_id["walk"] %>分</span>
          </span>
        </li>
      <% end %>
      <%= paginate @some_rests %>
      </nav>
    <% end %>
    </ul>
</div>