<title>BusyManRestaurants</title>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">


//	jQuery GPS
function geoFindMe() {

  var output = document.getElementById("out");
  var include_lat = document.getElementById("include_lat");
  var include_lon = document.getElementById("include_lon");
	
	// can't use Geolocation
	if (!navigator.geolocation){
	  output.innerHTML = "<p>Geolocationがブラウザ非対応です</p>";
	  return;
	}
	
	// succes
	function success(position) {
    // include latitude and lontitude
	  var latitude  = position.coords.latitude;
	  var longitude = position.coords.longitude;
  
    output.innerHTML = '';
    // put the value in the form
    include_lat.value = latitude;
    include_lon.value = longitude;


	};
  
	// error
  function error(error) {
    var err_msg = "";
    //error message
    switch(error.code)
    {
      case 1:
        err_msg = "error：位置情報取得が許可されていません";
        break;
      case 2:
        err_msg = "error：位置が判定出来ませんでした";
        break;
      case 3:
        err_msg = "error：タイムアウト";
        break;
    }
    output.innerHTML = err_msg;
  };
  
  //option
  var options = {
    enableHighAccuracy: true,   // High accuracy
    maximumAge        : 0,      // Always get the latest value
    timeout           : 10000   // 10s
  };
  
	// loading
  output.innerHTML = "<p>Searching...</p>";
  
  // use geolocation API
  navigator.geolocation.getCurrentPosition(success, error, options);

}


</script>


<h3 class="page-about center"><span class="glyphicon glyphicon-send"></span>店舗を検索<p></p></h3>

<div class="center culmn" id="location-form">

  <div class="flash center">
    <%= h(flash[:notice]) %>
  </div>

  <div>
  <button type="button" onclick="geoFindMe()" class="location-btn btn-default btn-lg relative">
  <p><span class="glyphicon glyphicon-screenshot"></span><span class="">位置情報 取得</span></p>
  </button>
  <p id="out"></p>

  </div>

  <div class="form">
  <%=form_tag({ :action => 'index' }) do %>
    <p>緯度   <%= text_field_tag :include_lat, '' %></p>
    <p>経度   <%= text_field_tag :include_lon, '' %></p>
    <p>半径   <%= select_tag :range, options_for_select({"300" => "1", "500" => "2", "1000" => "3", "2000" => "4", "3000" => "5"}) %> m 以内</p> 
    <%= button_tag( class: "btn") do %>
      <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
    <% end %>
  <% end %>
  </div>

  <div class="right">
    <%= link_to "Sign up", signup_path, class: "btn btn-lg" %>
  <div>

</div>

