<title>BusyManRestaurants | <%= @rest.name %></title>


<h3 class="page-about center"><span class="glyphicon glyphicon-leaf"></span>詳細<p></p></h3>
<div class="restdetail-wrapper center column">
  <div class="name">
   <h4><%= @rest.name %></h4>
  </div>

  <div class="flex img-wrapper">
    <span class="img1-wrapper relative">
      <div class="image absolute-center">
        <% if @rest.shop_image1 == "{}" %>
          <div class="no-image absolute-center">
            <span class="glyphicon glyphicon-picture text"><br>no image</span>
          </div>
        <% else %>
          <img src="<%= @rest.shop_image1 %>"/>
        <% end %>
      </div>
    </span>
    <span class="img2-wrapper relative">
      <div class="image absolute-center">
        <% if @rest.shop_image2 == "{}" %>
          <div class="no-image absolute-center">
            <span class="glyphicon glyphicon-picture text"><br>no image</span>
          </div>
        <% else %>
          <img src="<%= @rest.shop_image2 %>"/>
        <% end %>
      </div>
    </span>
  </div>
  <div class="details-wrapper center">
      <p class="under-line"><span class="glyphicon glyphicon-flag"></span>住所</p><p><%= @rest.address.html_safe %></p>
      <p class="under-line"><span class="glyphicon glyphicon-phone-alt"></span>電話番号</p><p><%= @rest.tel.html_safe %></p>
      <p class="under-line"><span class="glyphicon glyphicon-time"></span>営業時間</p><p><%= @rest.opentime.html_safe %></p>
  </div>
</div>