<h1>詳細</h1>
<div class="page-about center">
  店舗詳細
</div>
<div class="restdetail-wrapper center column">
  <div class="name">
   <h3><%= @rest.name %></h3>
  </div>

  <div class="flex img-wrapper">
    <span class="img1-wrapper relative">
      <div class="image absolute-center">
        <% if @rest.shop_image1 == "{}" %>
          <div class="no-image absolute-center">
            <span class="glyphicon glyphicon-picture text"><br>no image</span>
          </div>
        <% else %>
          <img src="<%= @rest.shop_image1 %>"/>
        <% end %>
      </div>
    </span>
    <span class="img2-wrapper relative">
      <div class="image absolute-center">
        <% if @rest.shop_image2 == "{}" %>
          <div class="no-image absolute-center">
            <span class="glyphicon glyphicon-picture text"><br>no image</span>
          </div>
        <% else %>
          <img src="<%= @rest.shop_image2 %>"/>
        <% end %>
      </div>
    </span>
  </div>
  
  <%# <img src="<%= @rest.shop_image1 %>
  <%# <img src="<%= @rest.shop_image2 %>
  <div>
    <p><%= @rest.address %></p>
    <p><%= @rest.tel %></p>
    <p><%= @rest.opentime %></p>
  <div>
</div>