<h1>詳細</h1>
<div class="page-about center">
  店舗詳細
</div>
<p><%= @rest.name %></p>
<img src="<%= @rest.shop_image1 %>"/>
<img src="<%= @rest.shop_image2 %>"/>
<p><%= @rest.address %></p>
<p><%= @rest.tel %></p>
<p><%= @rest.opentime %></p>